.fa-square-check {
  color: #008000
}

.fa-square-xmark {
  color: #ff0000
}

li {
  list-style-type: none;
  margin-top: 10%;
  font-size: 100%;
}

#selectorContainer {
  width: 100%;
}

#userSelector {
  position: fixed;
  width: 40%;
  font-size: 25px;
}

.container {
  padding: 20px;
  width: 50%;
  height: 500px;
  border: 1px solid black;
  align-items: center;
  overflow: auto;
}